canvas {
    width: 100%;
    height: 100%;
  }
  
  .paddle {
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: black;
  }
  
  .ball {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
  }
  